*~
.DS_Store
khmer-counting.aux
khmer-counting.blg
khmer-counting.log
khmer-counting.pdf
khmer-counting.bbl
2013-khmer-counting-data.tar.gz
pipeline/BF_count_1.time
pipeline/BF_count_2.time
pipeline/BF_count_3.time
pipeline/BF_count_4.time
pipeline/BF_count_5.time
pipeline/BF_dump_1.time
pipeline/BF_dump_2.time
pipeline/BF_dump_3.time
pipeline/BF_dump_4.time
pipeline/BF_dump_5.time
pipeline/ecoli_ref.fastq.endcount
pipeline/ecoli_ref.fastq.hist
pipeline/ecoli_ref_head45000.fasta
pipeline/iowa.1
pipeline/iowa.1.txt
pipeline/iowa.2
pipeline/iowa.2.txt
pipeline/iowa.3
pipeline/iowa.3.txt
pipeline/iowa.4
pipeline/iowa.4.txt
pipeline/iowa.5
pipeline/iowa.5.txt
pipeline/kanalyze_1.time
pipeline/kanalyze_2.out
pipeline/kanalyze_2.time
pipeline/kanalyze_3.out
pipeline/kanalyze_3.time
pipeline/kanalyze_4.out
pipeline/kanalyze_4.time
pipeline/kanalyze_5.time
pipeline/kmc_1_22.out.kmc_pre
pipeline/kmc_1_22.out.kmc_suf
pipeline/kmc_1_22.time
pipeline/kmc_2_22.out.kmc_pre
pipeline/kmc_2_22.out.kmc_suf
pipeline/kmc_2_22.time
pipeline/kmc_3_22.out.kmc_pre
pipeline/kmc_3_22.out.kmc_suf
pipeline/kmc_3_22.time
pipeline/kmc_4_22.out.kmc_pre
pipeline/kmc_4_22.out.kmc_suf
pipeline/kmc_4_22.time
pipeline/kmc_5_22.out.kmc_pre
pipeline/kmc_5_22.out.kmc_suf
pipeline/kmc_5_22.time
pipeline/kmc_dump_1_22.out
pipeline/kmc_dump_1_22.time
pipeline/kmc_dump_2_22.out
pipeline/kmc_dump_2_22.time
pipeline/kmc_dump_3_22.out
pipeline/kmc_dump_3_22.time
pipeline/kmc_dump_4_22.out
pipeline/kmc_dump_4_22.time
pipeline/kmc_dump_5_22.out
pipeline/kmc_dump_5_22.time
pipeline/ls.log
pipeline/norm10M.out
pipeline/norm120M.out
pipeline/norm20M.out
pipeline/norm2400M.out
pipeline/norm240M.out
pipeline/norm40M.out
pipeline/norm60M.out
pipeline/software_install_bp.sh
pipeline/turtle_1_22.out0
pipeline/turtle_1_22.out1
pipeline/turtle_1_22.out2
pipeline/turtle_1_22.out3
pipeline/turtle_1_22.out4
pipeline/turtle_1_22.out5
pipeline/turtle_1_22.out6
pipeline/turtle_1_22.time
pipeline/turtle_2_22.out0
pipeline/turtle_2_22.out1
pipeline/turtle_2_22.out2
pipeline/turtle_2_22.out3
pipeline/turtle_2_22.out4
pipeline/turtle_2_22.out5
pipeline/turtle_2_22.out6
pipeline/turtle_2_22.time
pipeline/turtle_3_22.out0
pipeline/turtle_3_22.out1
pipeline/turtle_3_22.out2
pipeline/turtle_3_22.out3
pipeline/turtle_3_22.out4
pipeline/turtle_3_22.out5
pipeline/turtle_3_22.out6
pipeline/turtle_3_22.time
pipeline/turtle_4_22.out0
pipeline/turtle_4_22.out1
pipeline/turtle_4_22.out2
pipeline/turtle_4_22.out3
pipeline/turtle_4_22.out4
pipeline/turtle_4_22.out5
pipeline/turtle_4_22.out6
pipeline/turtle_4_22.time
pipeline/turtle_5_22.out0
pipeline/turtle_5_22.out1
pipeline/turtle_5_22.out2
pipeline/turtle_5_22.out3
pipeline/turtle_5_22.out4
pipeline/turtle_5_22.out5
pipeline/turtle_5_22.out6
pipeline/turtle_5_22.time
pipeline_bp/

